.card
{
    position: relative;
    width: 30%;
    min-width: 940px;
    box-sizing: border-box;
}

.image
{
    position: relative;
    min-width: 470px;
    float: left;
    box-sizing: border-box;
}

.right
{
   position: absolute;
   min-width: 470px;
   max-width: 470px;
   padding: 64px 50px;
   margin-left: 470px;
   box-sizing: border-box;
   font-family: 'San Francisco', Helvetica, Arial, san-serif;;
}

.right h2
{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.4;
    margin: 0px;
}

.right h1
{
    font-size: 33px;
    line-height: 40px;
    margin: 0px 0px 35px;
}

.right h3
{
    font-size: 14px;
    line-height: 16px;
    opacity: 0.4;
    margin: 0px 0px 9px;
}

.box
{
    width: 370px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    margin-top: 9px;
    margin-bottom: 14px;
}

.button
{
    width: 40px;
    height: 95px;
    margin-top: 82px;
    margin-right: 90px;
    position: relative;
    padding: 12px 29px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    background: #0876E2;
    border-radius: 33px;
    box-sizing: border-box;
}

.footer
{
    margin-top: 92px;
    box-sizing: border-box;
    position: absolute;
}


.button a
{
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

.account
{
    opacity: 0.4;
    position: relative;
    box-sizing: border-box;
    letter-spacing: 0.2px;
    margin-right: 2px;
}

